<div class="container-fluid">
  <% forum.threads.forEach(function(thread){ %>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <%=thread.content%>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <% }) %>
</div>
